@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#root {
  height: 100vh;
  width: 100vw;
}
body {
  background-color: #bfd732;
}
