@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}
#root {
  height: 100dvh;
  width: 100dvw;
}
body {
  background-color: #f5f6f7;
}

@media (min-width: 768px) {
  body {
    background-color: #bfd732;
  }
}
